#intro {
    background-image: url("img/pizza1.jpg");
    height: 520px;
    width: 100%;
    margin: 0px;
    padding-left: 10px;
    text-align: left;
    color: rgb(232, 248, 9);
    padding-top: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-style: italic;
}

.btn-group-justified {
    text-align: center;
    width: 100%;
}

.btn-primary {
    padding: 20px;
    margin:30px;
    background-color: rgb(221, 221, 8);
}
 #rowB,#rowC {
     text-align: center;
 }

 #rowA {
     text-align: center;
 }

 #rowB {
     height: 400px;
 }

 button {
     width:160px;
     height: 50px;
     background-color: white;
 }
  
 button:hover {
     background-color: black;
     color: white;
     transition: all 0.7s ease-in;
 }